<!DOCTYPE html>
<title>  Menu </title>
<h1> Bienvenido {{usuario}} </h1>




<a href="URL1"> Ingresar un nuevo estudiante </a>
<p></p>

<a href="listado"> Listado de los estudiantes ingresados </a>


<p></p>
<a href="EV09"> Ingresar un nuevo test Evalua 9 </a>
<p></p>
<a href="Listado_E09"> Listado test Evalua 09 </a>
<p></p>
<a href="EV10"> Ingresar un nuevo test Evalua 10 </a>
<p></p>
<a href="EV11"> Ingresar un nuevo test Evalua 11 </a>




<h2>Cargar informacion via Excel [En proceso]</h2>
<h2>Muetra un formulario [LOGRADO] </h2>
<h2>Muetra un formulario en dos columnas [LOGRADO] </h2>
<h2>Relacionar persona con test [LOGRADO]</h2>
<h2>Listado de Estudiantes [LOGRADO]</h2>
<h2>INPUT Evalua 09  [LOGRADO]</h2>
<h2>Listado de TEST [LOGRADO]</h2>
<h2>Editar listados [LOGRADO]</h2>
<h2>Descargar information via Excel [Logrado]</h2>



<h2>mensaje de exito al Editar [Logrado] </h2>


<h2>Autentificacion [Logrado] </h2>

<h2>mensaje de exito al Editar [Logrado] </h2>

<a href="/logout">Cerrar sesión</a>
